header {
	border-style:double;
}
.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}
.titre {
	position: absolute;
	top: 0px;
	text-align: center;
}
.dh {
	position: absolute;
	top: 0px
	right 0px;
	text-align: right;
}
